Flask==2.2.5
Jinja2==3.1.2
pytesseract==0.3.13
Pillow==11.1.0
requests==2.32.3
opencv-python-headless==4.10.0.84
weasyprint==65.1
matplotlib==3.10.1
ultralytics==8.3.101
gunicorn==21.2.0
numpy==2.1.1
Werkzeug==3.1.3

